{% extends "core/base.html" %} {% block title %} About {% endblock %} 
{% block content %}
<div class="bg-zinc-800 py-4 w-3/4 md:w-3/5 rounded-3xl px-12 pt-8 pb-12">
  <div class="w-full text-center text-white text-lg font-bold">
    <p class="mb-2 md:text-5xl text-2xl py-4">About</p>
  </div>
  <div class="text-center text-white text-xs md:text-lg mx-auto md:text-normal">
    <p class="leading-6 md:leading-10 text-center">
      Welcome to the online home of Joseph M Hyland, an architect based in South
      River, NJ, serving the architectural needs of Central Jersey and beyond...
    </p>
  </div>
  <div class="w-full text-center text-white text-lg font-bold">
    <p class="mb-2 md:text-2xl py-4">Our Story</p>
  </div>
  <div class="text-center text-white text-xs md:text-lg mx-auto md:text-normal">
    <p class="leading-6 md:leading-10 text-center">
      We bring a unique blend of passion, creativity, and expertise to every
      project. With a deep-rooted commitment to innovation and sustainability,
      we strive to push the boundaries of traditional architecture, creating
      spaces that inspire and endure.
    </p>
  </div>

  <div class="w-full text-center text-white text-lg font-bold">
    <p class="mb-2 md:text-2xl py-4">Expertise</p>
  </div>
  <div class="text-center text-white text-xs md:text-lg mx-auto md:text-normal">
    <p class="leading-6 md:leading-10 text-center">
      With years of experience in the field, We have successfully completed a
      diverse range of projects, spanning residential, commercial,
      institutional, and cultural sectors. From sleek modern designs to historic
      preservation, our portfolio showcases our dedication to excellence and
      attention to detail.
    </p>
  </div>
  <div class="w-full text-center text-white text-lg font-bold">
    <p class="mb-2 md:text-2xl py-4">Teaching Experience</p>
  </div>
  <div class="text-center text-white text-xs md:text-lg mx-auto md:text-normal">
    <p class="leading-6 md:leading-10 text-center">
      In addition to our professional practice, We are proud to have served as a
      teacher at Rutgers University, sharing our knowledge and insights with the
      next generation of architects. This experience has not only enriched our
      understanding of the field but also reinforced our commitment to education
      and mentorship.
    </p>
  </div>
  <div class="w-full text-center text-white text-lg font-bold">
    <p class="mb-2 md:text-2xl py-4">Commitment to Community</p>
  </div>
  <div class="text-center text-white text-xs md:text-lg mx-auto md:text-normal">
    <p class="leading-6 md:leading-10 text-center">
      As a local architect, We are deeply invested in the communities we serve.
      We believe in the transformative power of architecture to enhance the
      quality of life and foster connections within neighborhoods. Whether
      revitalizing urban spaces or designing sustainable homes, we approach each
      project with a deep sense of responsibility and dedication to making a
      positive impact.
    </p>
  </div>
  <div
    class="w-full text-center text-white text-lg font-bold"
    class="w-full text-center text-white text-lg font-bold"
    class="w-full text-center text-white text-lg font-bold"
  >
    <p class="mb-2 md:text-2xl py-4">Get in Touch</p>
  </div>
  <div class="text-center text-white text-xs md:text-lg mx-auto md:text-normal">
    <p class="leading-6 md:leading-10 text-center">
      Explore our portfolio to discover our past projects and envision the
      possibilities for your next venture. We welcome collaborations with
      clients who share our vision for bold, innovative design. Contact us today
      to discuss how we can bring your architectural dreams to life.
    </p>
  </div>

</div>
{% endblock %}