{% extends 'core/base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
      <div class="bg-zinc-800 py-4 w-3/4 md:w-3/5 rounded-3xl px-12 pt-8 pb-12">
        <div
          class="w-full text-center text-white text-lg font-bold"
        >
          <p class="mb-2 md:text-5xl text-2xl  py-4" >Contact </p>
        </div>
        <div
          class="text-center text-white text-xs md:text-lg mx-auto md:text-normal "
        >
        <p class="leading-6 md:leading-10 text-center">
          Thank you for your interest. We look forward to connecting with you and discussing how we can bring your architectural vision to life. Please feel free to reach out to us using the contact information provided below, or fill out the inquiry form, and we'll get back to you as soon as possible.
        </p>
        <div class="md:grid grid-cols-2 py-12">
        <div class="text-start flex flex-col gap-6">
          <div><p class="text-center text-2xl">Address</p></div>
          <p>Address: 77 Milltown Rd, East Brunswick, NJ 08816</p>
          <p>Phone: +1 (732)-698-1795</p>
          <p>Email: josephmhyland@gmail.com</p>
          <p>Social Media: <a href="https://www.facebook.com/search/top?q=joseph%20m%20hyland%20architect" > <span class="text-blue">Facebook</span></a></p>
          <!-- <p>Inquiry Form</p>
          <p>[Form Placeholder]</p> -->
        </div>
        <div class="text-start md:flex flex-col gap-6 ">
          <div><p class="text-center text-2xl">Map</p></div>
          <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.5553535188897!2d-74.40080582451579!3d40.440843754172136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3cf5c0c4d0c39%3A0xdabdd418ad06cd57!2sHyland%20Joseph!5e0!3m2!1sen!2sus!4v1713321620000!5m2!1sen!2sus" width="300" height="225" style="border:0; margin: auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>

          
        </div>
        <div class="text-start flex flex-col gap-6">
        <p class="text-center text-2xl">Office Hours</p>
        <p class="text-center">Monday - Friday: 9:00 am - 5:30 pm</p>
        <p class="text-center">Saturday - Saturday: Closed</p>
      </div>
      </div>
      <div>

{% endblock %}